.signup-center {
    width: 100vw;
    height: 100vh;
}

.signup-center .signup-content form{
    display: grid;
    width: 20%;
    margin: auto;
    padding: 2.5% 0;
    gap: 0.5rem;
}


.signup-center .signup-content .wrapper {
    width: 100%;
    position: relative;
}

.signup-center .signup-content .wrapper input {
    padding: 0.6rem;
    margin: 0.5rem 0;
    width: 100%;
    border-radius: 0.3rem;
    border: 1px solid rgb(190, 187, 187);
}


.signup-center .signup-content .wrapper label {
    position: absolute;
    font-size: 0.7rem;
    top: 0;
    left: 7px;
    padding: 0 4px;
    color:#865de0;
    font-weight: 600;
    background-color: white;
}

.signup-center .signup-content .wrapper label::after {
    content: "*";
    color: red;
}

.signup-center .signup-content .wrapper .star::after {
    content: "";
}

.signup-center .signup-content .radio {
    display: grid;
    gap: 0.5rem;
    align-items: center;
}

.signup-center .signup-content .radio span{
    display: flex;
    gap: 0.5rem;
}

.signup-center .signup-content .radio span small{
    font-size: 0.7rem;
}

.signup-center .signup-content .radio p {
    font-size: 0.7rem;
}

.signup-center .signup-content .radio small {
    margin-right: 1rem;
    text-align: center;
}


input[type='radio']{
    width: 20px;
    height: 20px;
}

.signup-center .signup-content .radio p::after {
    content: "*";
    color: red;
}

.signup-center .signup-content form button {
    padding: 0.7rem;
    border-radius: 0.3rem;
    border: none;
    font-weight: bold;
    letter-spacing: 0.2px;
    background-color: #6C25FF;  
    color: white;
    margin-top: 8rem;
}

.signup-center .signup-content form button a{
    text-decoration: none;
    color: white;
}







